.list {
    display: flex;
    flex-direction: column;
    // gap: 10px;
}
.list-enter-active, .list-leave-active {
    transition: all .1s;
}
.list-enter, .list-leave-to {
    opacity: 0;
}
.list-move {
    transition: transform 1s;
}
.button {
    cursor: pointer;
}
.flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.multi-remove-option {
    margin-bottom: 10px;
}